/* **COMMON** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mrg-bottom{
    margin-bottom: 1.5rem;
}

body{
    font-family: sans-serif;
}

h2{
    text-align: center;
}

.box {
	padding: 0.7rem;
	background: lightgreen;
	text-align: center;
	height: 100%;
	border: solid 1px white;
    font-size: 12px;
}

.nested{
    padding: 0.5rem;
    background-color: lightskyblue;
    text-align: center;
    height: 100%;
    border:solid 1px lightgreen ;
}